<div class="card">
    <div class="card-header">
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title"> {{ role }}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">id:{{ id }}</li>
            <li class="list-group-item"><a href = "mailto:{{ email }}">id:{{ id }}</a></li>
            <li class="list-group-item">title:{{ title }}</li>
            <li class="list-group-item">salary:{{ salary }}</li>
            <li class="list-group-item">departmentId:{{ departmentId }}</li>
        </ul>
    </div>
</div>